.asset-item {
    display: flex;
    padding: 1%;
    justify-content: space-evenly;
}

.asset-item:hover {
    background-color: #BFD0DF;
}

.asset-item-value {
    padding: 1%;
    max-width: 50%;
}

.asset-item-value-input {
    text-align: center;
    border-style: solid;
    border-color: #8da7be;
    outline: none;
    width: 100%;
    border-radius: 4px;
}

.asset-item-value-input:disabled {
    background-color: #F0F8FF;
}

.asset-item-value-input:focus {
    border-style: dashed;
}

.asset-item-value-input:active {
    border-style: solid;
    border-color: #4f5a6b;
}

.asset-item-currency {
    padding: 1%;
    width: 30%;
    display: flex;
    justify-content: center;
}



