.asset-item--active,
.asset-item {
  display: flex;
  padding: 1%;
  justify-content: space-between;
}

.asset-item--active {
  background-color: #BFD0DF;
}

.asset-item:hover {
  background-color: #BFD0DF;
}

.asset-item-value {
  width: 40%;
  padding: 1%;
  max-width: 50%;
}

.asset-item-value-input {
  text-align: center;
  border-style: solid;
  border-color: #8da7be;
  outline: none;
  width: 100%;
  border-radius: 4px;
}

.asset-item-value-input:disabled {
  background-color: #F0F8FF;
}

.asset-item-value-input:focus {
  border-style: dashed;
}

.asset-item-value-input:active {
  border-style: solid;
  border-color: #4f5a6b;
}

.asset-item-currency {
  padding: 1%;
  width: 30%;
  display: flex;
  justify-content: center;
}

.asset-item-currency-name {
  cursor: default;
}

.asset-item-value-input--invalid {
  border-color: #D00000;
  background-color: rgba(208, 0, 0, 0.2);
}

.asset-item-buttons-container {
  width: 30%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.asset-item-buttons-container .button {
  width: 50%;
}
