.assets-group {
    display: flex;
    flex-flow: column;
    background-color: #F0F8FF;
    min-height: 30%;
    max-height: 50%;
}

.assets-group:hover {
    height: 100%;
}

.assets {
    padding: 1%;
}

.assets-title {
    cursor: default;
    text-align: center;
    background-color: #8da7be;
    padding: 2%;
}

.add-asset-button {
    margin-left: 40%;
}

.add-asset-button-wrapper:hover {
    background-color: #BFD0DF;
}

