.assets-group {
  background: linear-gradient(#F0F8FF, #BFD0DF);
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  min-height: 180px;
  padding-bottom: 1%;
}

.assets {
    padding: 1%;
}

.assets-title {
    cursor: default;
    text-align: center;
    background-color: #8da7be;
    padding: 2%;
}

.add-asset-button {
    margin-left: 40%;
}

.add-asset-button-wrapper:hover {
    background-color: #BFD0DF;
}

