.results-wrapper {
  cursor: default;
  width: 75%;
  background-color: #6F9F98;
  padding: 0.5% 1% 1% 0.5%;
}

.results-title {
  background-color: #6F9F98;
  padding-left: 25%;
  height: 4%;
}

.results-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  height: 97%;
}

.total-amount-in-one-currency--container {
  overflow-y: auto;
  background-color: #6F9F98;
  padding-right: 1%;
  height: 100%;
  min-width: 300px;
  width: 35%;
}

.total-amount-in-currencies--title {
  background-color: #8CBEB7;
  padding: 1%;
}

.results-one-more-wrap-layer {
  background-color: #6f9f98;
  height: 100%;
}

.total-amount-in-one-currency {
  padding-bottom: 2%;
  background-color: #6F9F98;
}

.total-amount-in-currencies--group-of-assets {
}

.total-amount-in-currencies--group-name {
  background-color: #9BCEC7;
  padding: 0.5% 0.5% 0.5% 2%;
}

.total-amount-in-currencies--total-amounts {
  background-color: #7EAFA8;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding: 2%;
}

.total-amount-in-currencies--asset-row {
  background-color: #A9DDD6;
  padding: 0.5%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.total-amount-in-currencies--asset-row-part {
  min-width: 20%;
  max-width: 45%;
}


.balance-results-container {
  overflow-y: auto;
  background-color: #6F9F98;
  height: 100%;
  min-width: 300px;
  width: 60%;
}

.balance-circle-container {
  width: 90%;
  height: 100%;
  padding: 0 5%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.balance-circle-chart {
}

.circle-chart-type--select-container {
  height: 20%;
  padding: 0 10% 0 15%;
  display: flex;
  flex-flow: row;
}

.circle-chart-type--item--active {
  background-color: #52b799;
}

.circle-chart-type--item:hover {
  background-color: #d8f3dc;
}

.circle-chart-type--item {
  width: 32%;
  cursor: pointer;
}

.circle-chart-type--item-wrapper {
  padding: 0 15%;
}

.circle-chart-type--text {
  text-align: center;
}
