.assets-wrapper {
  width: 25%;
  min-width: 250px;
  background-color: #5d6c80;
  padding: 0.5% 0.5%;
  overflow-y: auto;
}

.assets-groups-wrapper {
  display: flex;
  flex-direction: column;
}

.assets-wrapper-title {
  cursor: default;
  background-color: #5d6c80;
  text-align: center;
  height: 4%;
}

@media only screen and (max-width: 800px) {
  .assets-wrapper {
      width: 80%;
      padding: 0 10%;
  }
}
