.dashboard {
  overflow-x: auto;
  display: flex;
  height: 100%;
  background-color: #6F9F98;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.positive-button {
  font-size: 20px;
  text-align: center;
  outline: none;
  width: 13%;
  color: #9BC995;
  background-color: #F0F8FF;
  border-color: #8DA7BE;
  border-radius: 10%;
}

.positive-button:hover,
.positive-button:active {
  background-color: #9BC995;
  color: #fff;
}

.positive-button:active {
  padding: 0 2px 2px 0;
}

.negative-button {
  font-size: 20px;
  text-align: center;
  outline: none;
  width: 13%;
  color: #D00000;
  background-color: #F0F8FF;
  border-color: #8DA7BE;
  border-radius: 10%;
}

.negative-button:hover,
.negative-button:active {
  background-color: #D00000;
  color: #2D3142;
}

.negative-button:active {
  padding: 0 2px 2px 0;
}

.neutral-button {
  font-size: 20px;
  text-align: center;
  outline: none;
  width: 13%;
  color: #2D3142;
  background-color: #F0F8FF;
  border-color: #8DA7BE;
  border-radius: 10%;
}

.neutral-button:hover,
.neutral-button:active {
  background-color: #BFD0DF;
  color: #2D3142;
}

.neutral-button:active {
  padding: 0 2px 2px 0;
}

.document--label,
input[type=checkbox] {
  cursor: pointer;
}
